/* google font family link start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* google font family link close */

/* Universal tag selector styles start */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Universal tag selector styles close */

/* Sheard styles start */
:root {
  --main-text: rgb(58, 58, 58);
  --secondery-text: rgb(10, 8, 38);
  --optional-text: rgb(120, 120, 133);
  --btn-color: rgb(224, 44, 109);
  --btn-text: white;
}

.btn {
  font-size: 1.1rem;
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  color: var(--btn-text);
  background-color: var(--btn-color);
}
header {
  max-width: 1440px;
  margin: auto auto;
}
section {
  max-width: 1110px;
  margin: 100px auto auto auto;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-text);
}
.section-description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--optional-text);
  margin: 20px auto 20px auto;
}
/* Sheard styles close */

/* navigation bar style start */
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  min-height: 100px;
}
.brand-nav {
  font-size: 24px;
  font-weight: 700;
}
.nav-item {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-item li a {
  text-decoration: none;
  color: var(--secondery-text);
  font-size: 1rem;
  font-weight: 600;
}
/* navigation bar style close */

/* Banner section style start */
.banner {
  display: flex;
  padding: 70px 15px auto 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.banner-content{
  margin-left: 100px;
}
.banner-content button {
  border-radius: 25px;
}
.banner-img {
  background: url(../assets/images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 40px;
}
.banner-img img {
  width: 100%;
}
/* Banner section style close */

/* Sponsors section start */
.sponsors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
/* Sponsors section close */


/* pupolar collection section styles start */
.collection {

}
.collection h4 {
  text-align: center;
}
.collection-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  gap: 40px;
}
.collection-card div {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.collection-card div img{
  width: 100%;
}
.collection-card div h3{
  font-size: 1.75rem;
  font-weight: 500;
}
.collection-card div h5{
  font-size: 1.50rem;
font-weight: 400;
}
.collection-card div p{
  margin-top: 0px;
}
.card-btn{
  width:100%;
  margin-top:20px ;
  text-align: end;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
background: transparent;
color: var(--btn-color);
cursor: pointer;
}
/* pupolar collection section styles close */

/* Features section style start */
.features{
  display: flex;
  gap: 100px;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  max-width: 1150px ;
  margin-bottom: 100px;
}
.features-img img{
  width: 100%;
}
.features-title{
  font-size: 2.25rem;
  color: var(--secondery-text);
font-weight: 700;
}
.features button{
  border-radius: 0px;
}
/* Features section style close */


/* Footer section style start*/
footer{
  max-width:1440px;
  margin: auto auto;
  background-color:var(--secondery-text);
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--btn-text);
  text-align: center;

}
footer h3{
  font-size: 1.50rem;
font-weight: 700;
}
footer p{
  margin: 10px auto;
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 700;
}
footer h5{
  margin-bottom: 10px;
}
footer span{
  font-size: 1.50rem;
  margin-top: 10px;
  text-align: center;
  max-width:100px;
  min-height: 100px;
  padding: 5px 10px;
  border-radius:50%;
  background-color: rgb(35, 33, 60);

}
/* Footer section style close*/



/* responsive media query start */
/* mobile device responsiv */
@media screen and (max-width:576px){
  nav{
    max-width: 100%;
    flex-direction: column;
  }
  .nav-item {
    gap:15px;
  }
  .banner{
    max-width: 100%;
    flex-direction: column;
  }
  .banner-content{
    margin-left: 0px;
    padding: 20px;
  }
  .banner-img{
    margin-right: 0px;
  }
  .sponsors {
    max-width: 100%;
    gap:20px;
  }
  .collection {
    max-width: 100%;
    padding: 20px;
  }
  .collection-card{
    grid-template-columns: repeat(1, 1fr);
  }
  .features{
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
  }
}
/* tablet resposive */
@media screen and (min-width:576px) and (max-width:992px){
  nav{
    max-width: 100%;
    flex-direction: column;
  }
  .nav-item {
    gap:15px;
  }
  .banner{
    max-width: 100%;
    flex-direction: column;
  }
  .banner-content{
    margin-left: 0px;
    padding: 20px;
  }
  .banner-img{
    margin-right: 0px;
  }
  .sponsors {
    max-width: 100%;
    gap:20px;
  }
  .collection {
    max-width: 100%;
    padding: 20px;
  }
  .collection-card{
    grid-template-columns: repeat(2, 1fr);
  }
  .features{
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
  }
}

/* responsive media query close */